<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Пиццерия</title>
    <link href="/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <div class="container">
        <nav class="navbar navbar-default">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/">My Website</a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><a href="/about">О нас</a></li>
                    <li><a href="/something">Something</a></li>
                    <li><a href="/contacts">Contacts</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <form action="/cart" method="post">
                            <input id="orders_input" name="orders" type="hidden" />
                            <input id="orders_button" type="submit" class="btn btn-primary btn-lg" value="Корзина (...)" />
                        </form>
                    </li>
                </ul>
            </div>
        </nav>

        <div>
            <% if @error && @error.length > 0 %>
                <div class="alert alert-danger"><%= @error %></div>
            <% end %>
            <%= yield %>
        </div>
    </div>

    <script src="/vendor/jquery-1.9.1.min.js" defer></script>
    <script src="/vendor/bootstrap/js/bootstrap.min.js" defer></script>
    <script src="/app.js" defer></script>
</body>
</html>

<script src="/script.js" defer>
    $(function(){
        update_orders_input();
        update_orders_button();
    });
</script>

